{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'logo.ico' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Close Field
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
        <a class="nav-link active" aria-current="page" href="{% url 'farm_list' %}">Les fermes</a>
        <a class="nav-link active" aria-current="page" href="{% url 'map' %}">Carte</a>
      </div>
    </div>
  </div>
</nav>